/* styles/swiper.css */
.swiper-slide {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
